!!! 5

%html
  %head
    %title Hell, RUM!
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/application.css", type: "text/css"}

  %body
    %header
      %h1
        Hello,
        %a{href: "http://ruby.mn/"} RUM

    %article
      %h2 Thank you for your attention.
      %img{src: "/ruby_logo.png"}

    %footer
      %p
        Feel free to check out
        %a{href: "https://github.com/pbyrne/gentle-intro-sites"} the source
        that built this page.

