---
title: Hello, RUM!
---

<header>
  <h1>Hello, <a href="http://ruby.mn/">RUM</a>!</h1>
</header>

<article>
  <h2>Thank you for your attention.</h2>
  <img src="<%= asset_path :images, "ruby_logo.png" %>" />
</article>

<footer>
  <p>
    Feel free to check out
    <a href="https://github.com/pbyrne/gentle-intro-sites">the source</a>
    that built this page.
  </p>
</footer>
