---
title: A Gentle Introduction to Running Your Own Server
---

<header>
  <h1><%= current_page.data.title %></h1>
</header>

<article>
  <p>This site is running on a server configured using the tools and techniques I outlined in my presentation.</p>
  <p>If you'd like to take a closer look at the code that made this possible, here you go:</p>
  <ul>
    <li>
      <a href="https://github.com/pbyrne/gentle-intro">gentle-intro</a>:
      sets up the server with Chef (with some help from Berkshelf and Vagrant)
    </li>
    <li>
      <a href="https://github.com/pbyrne/gentle-intro-sites">gentle-intro-sites</a>:
      builds the static HTML to serve the demo sites on this server
    </li>
  </ul>
</article>
