@charset "utf-8";

$green: #88C043;
$grey: #404238;
$white: #FFFFFE;

$heavy_bold: 500;
$light_bold: 200;

body {
  background-color: $green;
  color: $grey;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 7em;
  font-weight: $heavy_bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 3.5em;
  font-weight: $light_bold;
  margin-bottom: 0;
}

footer {
  font-weight: 0.7em;
}

a {
  color: inherit;
  font-weight: $heavy_bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
