---
title: Hello, NodeMN!
---

<header>
  <h1>Hello, <a href="http://www.meetup.com/NodeMN/">NodeMN</a></h1>
</header>

<article>
  <h2>Thank you for your attention.</h2>
  <%= image_tag "nodejs-green.png" %>
</article>

<footer>
  <p>Feel free to check out <a href="https://github.com/pbyrne/gentle-intro-sites">the source</a> that built this page.</p>
</footer>
